* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}
/*HEADER*/
header {
    background-color: black;
}
.logo, .search, .cart {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}
/*logo*/
.header .container .logo {
    width: 25%;
    float: left;
}
a {
    display: block;
    text-decoration: none;
    color: #333;
}
.header .container .logo a img {
    max-width: 197px;
    margin: 33px 30px 25px;
}
/*search*/
.header .search {
    width: 41.66666667%;
    float: left;
}
.main-search {
    width: 100%;
    height: 40px;
    margin: 43px 0 35px;
    position: relative;
}
.header .search form {
    background-color: #fff;
    height: 100%;
    border-radius: 3px;
}
header .search .dropdown {
    width: 170px;
    height: 100%;
    float: left;
}
.header .search .form-search {
    float: right;
    width: calc(100% - 170px);
    height: 100%;
    position: relative;
}
.header .search .form-search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-left: 1px solid #e2e2e2;
    padding-left: 3px;
}
.search-btn {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    padding: 0 20px;
    border-radius: 3px;
    border: 2.5px solid #fff;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    color: #ffffff;
    background: #e5101d;
}
/*cart*/
.header .container .cart {
    width: 30%;
    float: left;
}
.cart > ul {
    display: flex;
    align-items: center;
    padding: 32px 0 30px;
    justify-content: flex-end;
    margin-bottom:0 ;
    list-style-type: none;
}
.cart ul li {
    float: left;
    text-align: center;
    width: 80px;
    position: relative;
}
.cart ul li a {
    display: block;
    font-size: 9.75359pt;
    color: #fff;
    margin-top: 5px;
    text-decoration: none
}
.cart ul li .img {
    height: 30px;
} 
.cart ul li a img {
    max-height: 30px;
    height: 100%;
}

.cart .child {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 0px;
    width: 200px;
    border: solid 1px #d3d3d3;
    border-radius: 3px;
    text-align: left;
    list-style-type: none;
}
.cart .child li {
    display: block;
    float: none;
    width: auto;
    height: auto;
    text-align: left;
    padding: 3px 15px;
}
.cart .child .active0 {
    color: #000;
    font-size: 14px;
}
.cart li:hover a {
    color: red;
}

/*menu header*/
.menu-header {
    background-color: #fff;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
}
.menu-header .menu {
    width: 250px;
    float: left;
    position: relative;
}
.menu .show-menu {
    color: #fff;
    background-color: #c8191f;
    line-height: 40px;
    display: block;
    padding-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    font-size: 16px;
}
.show-menu i {
    margin-left: 4px;
    margin-right: 15px;
    font-size: 18px;
}

.menu-header .bar {
    position: relative;
    float: left;
    width: calc(100% - 250px);
}
.menu-header .bar ul {
    height: 40px;
    padding: 10px 0;
    margin-right: 150px;
    display: flex;
    margin: 0px;
}
.menu-header .bar ul li {
    border-right: 1px solid #e2e2e2;
    position: relative;
    width: auto;
    padding: 0 25px;
    font-size: 14px;
    list-style-type: none;
}
.menu-header .bar ul li:first-child{
    width: auto;
    border: none;
    padding: 0px 0px 0px 25px;
    height: 30px;
}
.menu-header .bar ul li img {
    padding-bottom: 10px;
}
/*slider*
.slider {
    width: 1440px;
    position:relative;
    height: 307.5px;
}
.slider a img {
    width: 100%;
    position: absolute;

}
/*Content*/
.content {
    background-color: #f0f0f0;
}
.content .container {
    margin-right: 120px;
    margin-left: 120px;
    
}
.content .p-title {
    margin: 15px 0;
    padding-left: 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700
}
.content .p-item {
    padding: 0px 10px 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 222px;
    margin-right: 15px;
    float: left;
}
.content .p-item .p-img img{
    width: 164px;
    height: 164px;
    margin-left: 16px;
    margin-right: 10px;
}
.content .p-item .p-brand {
    height: 40px;
}
.content .p-item .p-brand img {
    width: auto;
    max-width: 80px;
}
.content .p-item .p-label {
    border-radius: 2px;
    line-height: 18px;
    font-size: 11px;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0px 5px
}
.content .p-item .p-type .bestsale {
    background-color: #f28902;
}
.content .p-item .p-type .saleoff {
    background-color: #f28902;
}
.content .p-item .p-type .new-product {
    background-color:#3fb846
}
.content .p-item .p-name {
    margin-top: 10px;
    overflow: hidden;
    height: 39px;
}
.content .p-item .p-name a {
    text-transform: uppercase;
    color: #222;
    text-decoration: none;
    font-weight: 700;
}
.content .p-item .p-unprice {
    height: 20px;
    text-decoration: line-through;
}
.content .p-item .p-price {
    margin-bottom: 20px;
    float: left;
    font-weight: 700;
}
/* footer */
.footer {
    margin-top: 20px;
}
.footer-container {
    background-color: #fff;
}
.footer-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-container ul li {
    padding: 3px 0px;
}
.footer-container ul li a {
    font-size: 14px;
}
.footer-container .f-title {
    font-weight: 700;
    font-size: 18px;
    margin: 18px 0px;
}
.footer-container .information {
    float: left;
    padding: 0px 15px;
    width: 16%;
}
.footer-container .customer-support {
    float: left;
    padding: 0px 15px;
    width: 20%;
}
.footer-container .branch {
    float: left;
    padding: 0px 15px;
    width: 30%;
}
.footer-container .branch .red {
    color: red;
}
.footer-container .branch p {
    font-size: 14px;
}
.footer-container .customer-care {
    float: left;
    width: 30%;
    padding: 0px 15px;
}
.footer-container .customer-care .social-footer {
    display: flex;
}
.footer-container .customer-care .social-footer li {
    padding-right: 10px;
}
.copy-right {
    background-color: #f2f2f2;
}
.copy-right p {
    margin: 12px 0px;
    text-align: center;
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}
.copy-right a {
    display: inline;
}
.copy-right .logo-announcement {
    text-align: center;
}